input {
    display: block;
    width: 25%;
    font: inherit;
    padding: 0.5rem;
    border-radius: 12px;
    border: 1px solid #ccc;
    margin: 20px 5px 5px 380px;
}

.display {
    margin-top: 13%;
    margin-left: 1%;
}

.main-header{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #576F72;
        padding: 0 2rem;
        font-size: 35px;
        color: #ccc;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main-header button{
    background-color: #7D9D9C;
    margin-top: 0%;
    margin-right: 5%;
    padding: 0.7rem 1.5rem;
    font-size: 1.1rem;
    text-align: center;
}
.main-header button:hover{
    background-color: #A5C9CA;
}

button {
    font: inherit;
    border: 1px solid #576F72;
    background: #576F72;
    color: white;
    padding: 0.6rem 2.0rem;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 30px;
    margin-top: 3%;
    margin-left: 48%;
  }
  
  button:hover,
  button:active {
    background: #7D9D9C;
    border-color: #7D9D9C;
  }

  .details{
    margin-top: 10%;
  }

